.dark .shiki span {
  color: var(--shiki-dark, inherit);
  text-decoration: var(--shiki-dark-text-decoration, inherit);
  font-weight: var(--shiki-dark-font-weight, inherit);
}

html:not(.dark) .shiki span {
  color: var(--shiki-light, inherit);
  text-decoration: var(--shiki-light-text-decoration, inherit);
  font-weight: var(--shiki-light-font-weight, inherit);
}

.vp-code-block-title .vp-code-block-title-bar {
  position: relative;
  display: flex;
  padding: 0 0.75rem;
  /*margin: 0;*/
  border-radius: 10px 10px 0 0;
  background-color: var(--ns-language-bg);
  overflow-x: auto;
  overflow-y: hidden;
  box-shadow: var(--ns-language-border-color) 0 0 0 1px;
}
