/**
 * Color: Base
 * -------------------------------------------------------------------------- */

:root {
  --ns-c-white: #ffffff;
  --ns-c-black: #000000;
}

/**
 * Color: Background
 * -------------------------------------------------------------------------- */

:root {
  --ns-c-bg: var(--ns-c-white);
  --ns-c-bg-soft: #fbfcfd;
  --ns-c-bg-mute: #f6f6f7;
}

.dark {
  --ns-c-bg: #1b1b1e;
  --ns-c-bg-soft: #252526;
  --ns-c-bg-mute: #202127;
}

/**
 * Color: Text
 * -------------------------------------------------------------------------- */

:root {
  --ns-c-text-1: #2a2a2a;
  --ns-c-text-2: #34343c;
  --ns-c-text-3: #585858;
  --ns-c-text-4: #757575;
  --ns-c-text-5: #dee2e6;
  --ns-c-text-6: #e9ecef;
  --ns-c-text-7: #eeeeee;
  --ns-c-text-8: #ffffff;
  --ns-c-text-9: #0056b2;
  --ns-c-text-10: #007bff;
  --ns-c-text-11: #0d6efd;
  --ns-c-text-12: #ffffff;
  --ns-c-text-13: #d2603a;

  --ns-c-text-highlight: inherit;
}

.dark {
  --ns-c-text-1: #cccccc;
  --ns-c-text-2: #afb0b1;
  --ns-c-text-3: #a7a7a7;
  --ns-c-text-4: #868686;
  --ns-c-text-5: #526C96;
  --ns-c-text-6: #2e2f31;
  --ns-c-text-7: #696969;
  --ns-c-text-8: #1e1e1e;
  --ns-c-text-9: #8ab4f8;
  --ns-c-text-10: #007bff;
  --ns-c-text-11: #0d6efd;
  --ns-c-text-12: #ffffff;
  --ns-c-text-13: #d2603a;

  --ns-c-text-highlight: #aeaeae;
}

:root {
  --ns-text-color: var(--ns-c-text-2);
  --ns-text-muted-color: var(--ns-c-text-4);
  --ns-text-muted-highlight-color: var(--ns-c-text-highlight);
  --ns-heading-color: var(--ns-c-text-1);
  --ns-label-color: var(--ns-c-text-3);
}

/**
 * Component: blockquote
 * -------------------------------------------------------------------------- */

:root {
  --ns-blockquote-border-color: var(--ns-c-text-7);
  --ns-blockquote-text-color: var(--ns-c-text-4)
}

/**
 * Component: Link
 * -------------------------------------------------------------------------- */

:root {
  --ns-link-color: var(--ns-c-text-9);
  --ns-link-underline-color: var(--ns-c-text-5);
  --ns-footer-link-color: var(--ns-c-text-11);
  --ns-link-hover-color: var(--ns-c-text-13)
}

/**
 * Component: Bottom
 * -------------------------------------------------------------------------- */

:root {
  --ns-btn-bg: var(--ns-c-text-8);
  --ns-btn-border-color: var(--ns-c-text-6);
  --ns-btn-hover-color: var(--ns-c-text-12);
  --ns-btn-hover-border-color: var(--ns-c-text-10);
  --ns-btn-hover-bg: var(--ns-c-text-11);
}

/**
 * Component: Sidebar
 * -------------------------------------------------------------------------- */

:root {
  --ns-sidebar-1: #1d1d1d;
  --ns-sidebar-2: #545454;
  --ns-sidebar-3: rgb(223, 233, 241, 0.64);
  --ns-sidebar-4: #f6f8fa;
  --ns-sidebar-5: #efefef;
  --ns-sidebar-6: var(--ns-c-white);
}

.dark {
  --ns-sidebar-1: rgba(255, 255, 255, 0.95);
  --ns-sidebar-2: #868686;
  --ns-sidebar-3: #262626;
  --ns-sidebar-4: #1e1e1e;
  --ns-sidebar-5: #292929;
  --ns-sidebar-6: rgba(206, 206, 206, 0.9);
}

:root {
  --ns-sidebar-bg: var(--ns-sidebar-4);
  --ns-sidebar-border-color: var(--ns-sidebar-5);
  --ns-sidebar-muted-color: var(--ns-sidebar-2);
  --ns-sidebar-active-color: var(--ns-sidebar-1);
  --ns-sidebar-hover-bg: var(--ns-sidebar-3);
  --ns-avatar-border-color: var(--ns-sidebar-6);
}

/**
 * Component: Table
 * -------------------------------------------------------------------------- */

:root {
  --ns-td-odd-bg: var(--ns-c-bg-soft)
}

/**
 * Component: Card
 * -------------------------------------------------------------------------- */

:root {
  --ns-card-bg: var(--ns-c-bg);
  --ns-card-hover-bg: #e2e2e2;
  --ns-card-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.05);
  --ns-card-cap-bg: rgba(33, 37, 41, 0.03);
}

.dark {
  --ns-card-bg: #1e1e1e;
  --ns-card-hover-bg: #464d51;
  --ns-card-shadow: rgba(21, 21, 21, 0.72) 0 6px 18px 0, rgba(137, 135, 135, 0.24) 0 0 0 1px;
  --ns-card-cap-bg: #1e1e1e;
}



/**
 * Component: Code
 * -------------------------------------------------------------------------- */

:root {
  --ns-line-code-bg: rgba(25, 25, 28, 5%);
  --ns-language-bg: #f6f8fa;
  --ns-language-border-color: #ececec;
  --ns-code-header-muted-color-left: #ff5c60;
  --ns-code-header-muted-color-medium: #fac800;
  --ns-code-header-muted-color-right: #35c759;
  --ns-code-lang-color: #a3a3a3;
  --ns-code-tab-active-text-color: var(--ns-link-color);
  --ns-code-tab-active-bar-color: var(--ns-link-color);
  --ns-code-line-highlight-color: #d8e9f6;
  --ns-code-line-diff-remove-color: #f43f5e29;
  --ns-code-line-diff-remove-symbol-color: #e0575b;
  --ns-code-line-diff-add-color: #10b98129;
  --ns-code-line-diff-add-symbol-color: #298459;
  --ns-code-line-error-color: #f43f5e29;
  --ns-code-line-warning-color: #ffc10729;
}

.dark {
  --ns-line-code-bg: rgba(255, 255, 255, 5%);
  --ns-language-bg: #151515;
  --ns-language-border-color: #2d2d2d;
  --ns-code-header-muted-color-left: #ff5c60;
  --ns-code-header-muted-color-medium: #fac800;
  --ns-code-header-muted-color-right: #35c759;
  --ns-code-lang-color: #6a6a6a;
  --ns-code-tab-active-text-color: var(--ns-link-color);
  --ns-code-tab-active-bar-color: var(--ns-link-color);
  --ns-code-line-highlight-color: #2f3542;
  --ns-code-line-diff-remove-color: #f43f5e29;
  --ns-code-line-diff-remove-symbol-color: #e0575b;
  --ns-code-line-diff-add-color: #10b98129;
  --ns-code-line-diff-add-symbol-color: #298459;
  --ns-code-line-error-color: #f43f5e29;
  --ns-code-line-warning-color: #ffc10729;}

:root {
}

/**
 * Component: Custom Block & Badge
 * -------------------------------------------------------------------------- */

:root {
  --ns-c-grey-text: #656869;
  --ns-c-grey-soft: #8e96aa24;
  --ns-c-purple-text: #6f42c1;
  --ns-c-purple-soft: #9f7aea24;
  --ns-c-blue-text: #2888a7;
  --ns-c-blue-soft: #1bb2e524;
  --ns-c-green-text: #18794e;
  --ns-c-green-bg: #298459;
  --ns-c-green-soft: #10b98124;
  --ns-c-yellow-text: #915930;
  --ns-c-yellow-soft: #eab30824;
  --ns-c-red-text: #b8272c;
  --ns-c-red-soft: #f43f5e24;
  --ns-c-detail-bg: #8e96aa1a;
  --ns-custom-block-text: rgba(46, 46, 46, 0.77);
}

.dark {
  --ns-c-grey-text: #939499;
  --ns-c-grey-soft: #65758529;
  --ns-c-blue-text: #c9e8f2;
  --ns-c-blue-soft: #1bb2e529;
  --ns-c-purple-text: #c8abfa;
  --ns-c-purple-soft: #9f7aea29;
  --ns-c-green-text: #3dd68c;
  --ns-c-green-soft: #10b98129;
  --ns-c-yellow-text: #f9b44e;
  --ns-c-yellow-soft: #eab30829;
  --ns-c-red-text: #f66f81;
  --ns-c-red-soft: #f43f5e29;
  --ns-c-detail-bg: #6575851f;
  --ns-custom-block-text: rgba(216, 212, 212, 0.75);
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --ns-custom-block-info-bg: var(--ns-c-blue-soft);
  --ns-custom-block-info-icon-color: var(--ns-c-blue-text);
  --ns-custom-block-tip-bg: var(--ns-c-green-soft);
  --ns-custom-block-tip-icon-color: var(--ns-c-green-text);
  --ns-custom-block-warning-bg: var(--ns-c-yellow-soft);
  --ns-custom-block-warning-icon-color: var(--ns-c-red-text);
  --ns-custom-block-danger-bg: var(--ns-c-red-soft);
  --ns-custom-block-danger-icon-color: var(--ns-c-red-text);
  --ns-custom-block-caution-bg: var(--ns-c-red-soft);
  --ns-custom-block-caution-icon-color: var(--ns-c-red-text);
  --ns-custom-block-note-bg: var(--ns-c-grey-soft);
  --ns-custom-block-note-icon-color: var(--ns-c-grey-text);
  --ns-custom-block-important-bg: var(--ns-c-purple-soft);
  --ns-custom-block-important-icon-color: var(--ns-c-purple-text);
  --ns-custom-block-details-bg: var(--ns-c-detail-bg);
}

/**
 * Component: Badge
 * -------------------------------------------------------------------------- */

:root {
  --ns-badge-tip-text: var(--ns-c-green-text);
  --ns-badge-tip-bg: var(--ns-c-green-soft);
  --ns-badge-warning-text: var(--ns-c-yellow-text);
  --ns-badge-warning-bg: var(--ns-c-yellow-soft);
  --ns-badge-danger-text: var(--ns-c-red-text);
  --ns-badge-danger-bg: var(--ns-c-red-soft);
  --ns-badge-important-text: var(--ns-c-purple-text);
  --ns-badge-important-bg: var(--ns-c-purple-soft);
  --ns-badge-info-text: var(--ns-c-blue-text);
  --ns-badge-info-bg: var(--ns-c-blue-soft);
  --ns-badge-note-text: var(--ns-c-grey-text);
  --ns-badge-note-bg: var(--ns-c-grey-soft);
}

/**
 * Component: Other
 * -------------------------------------------------------------------------- */

:root {
  --ns-border-color: #dee2e6;
  --ns-tag-shadow: #e9ecef;
  --ns-tag-hover: #dee2e6;
  --ns-categories-border: rgba(0, 0, 0, 0.125);
  --ns-outline-highlight-color: #0550ae;
  --ns-divider-color: #e2e2e3;
  --ns-backdrop-bg-color: rgba(0, 0, 0, 0.6);
  --ns-search-button-color: #eeeeee;
  --ns-highlighter-rouge-color: #3f596f;
  --ns-archives-odd-bg: linear-gradient(
    to left,
    #ffffff,
    #FBFBFB,
    #FBFBFB,
    #ffffff
  );
  --ns-archives-line-color: rgba(0, 0, 0, 0.075);
  --ns-main-border-color: #f3f3f3;
  --ns-top-bar-text-color: #4E4E4E;
  --ns-toc-popup-border-color: lightgray;
  --ns-site-title-color: #717171;
  --ns-site-subtitle-color: #717171;
  --ns-docsearch-search-bg: #f6f6f7;
  --ns-docsearch-footer-bg: #f6f6f7;
  --ns-back-to-top-shadow: #00000026;
}

.dark {
  --ns-border-color: #3B4F58;
  --ns-tag-shadow: #202121;
  --ns-tag-hover: #2B383E;
  --ns-categories-border: rgba(64, 66, 69, 0.5);
  --ns-outline-highlight-color: #74B2F3;
  --ns-divider-color: #373737;
  --ns-backdrop-bg-color: rgba(0, 0, 0, 0.6);
  --ns-search-button-color: #2c3437;
  --ns-highlighter-rouge-color: #c9def1;
  --ns-archives-odd-bg: linear-gradient(
    to left,
    #1A1A1E,
    #27272D,
    #27272D,
    #27272D,
    #1A1A1E
  );
  --ns-archives-line-color: #3F4144;
  --ns-main-border-color: #2C2D2D;
  --ns-top-bar-text-color: #AFB0B1;
  --ns-toc-popup-border-color: #373737;
  --ns-site-title-color: #717070;
  --ns-site-subtitle-color: #868686;
  --ns-docsearch-search-bg: #202127;
  --ns-docsearch-footer-bg: #161618;
  --ns-back-to-top-shadow: #0000004d;
}