/**
 * Home Sidebar
 * -------------------------------------------------------------------------- */

.NSSidebar .site-title,
.NSSidebar .site-desc,
.NSSidebar .NSNavBarMenuLink,
.NSSidebar .NSSidebarMenu .NSFlyout .button,
.NSSidebar .NSSidebarMenuGroup .items .NSMenuLink a,
.NSSidebar .NSSidebarAction,
.NSSidebar .NSSidebarSocialLink,
.NSSidebar .NSSidebarSocialLink:hover,
.NSSidebar .ns-external-link-icon:after,
.NSSidebar .NSTranslations .NSTranslationsBtn {
  color: #fff !important;
}

.NSSidebar .NSSidebarAction.is-with-divider::after {
  background-color: #fff !important;
}

/**
 * Docs Sidebar
 * -------------------------------------------------------------------------- */

.NSSidebarDocs .back-home,
.NSSidebarDocs .doc-link,
.NSSidebarDocs .group-title {
  color: #fff !important;
}
